<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Fel.</h1>
        <h2 class="alert-warning">  Kontrollera din anslutning till Webbservice.</h2>
    </hgroup>
</body>
</html>


