
@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}





<div class="jumbotron jum">

    <div class="row">
        <div class="col-md-4">

        </div>
        <div class="col-md-4">
            <h3 class="alert-danger">
                HTTP 404. Sidan du letar efter finns ej eller är tillfälligt onåbar testa en giltlig URL.
                

            </h3>
            <img src="~/Bilder/sad.jpg" height="300" width="300" alt="cry" />
            

        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>












