@{
    ViewBag.Title = "Start";
}



<div class="jumbotron jum">

    <p class="text-center"> Här kan du lägga till personer i en specifik grupp</p>
</div>








<div class="row">
    <div class="col-md-4">

    </div>
    <div class="col-md-4">
        <img src="~/Bilder/bild.jpg" width="300">
        <p class="text-center"><a class="btn-success" href="/People/create">Lägg till en person&raquo;</a></p>
    </div>
    <div class="col-md-4">

    </div>
</div>